{% extends 'base.html.twig' %}

{% block title %}Coifqui{% endblock %}

{% block body %}
    <h1>Coifqui</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coifqui.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coifqui_index') }}">back to list</a>

    <a href="{{ path('coifqui_edit', {'id': coifqui.id}) }}">edit</a>

    {{ include('coifqui/_delete_form.html.twig') }}
{% endblock %}
