{% extends 'base.html.twig' %}
{% block title %}A propos{% endblock %} {% block body %}
	<div class="container qsect center pt80">
		<h1>A propos de MCF</h1><br><br><br><br>
		<div>
			<p>Quel est la problématique d'un antillais arrivant en france?<br>
				<span class="big">Pas de coiffeur !!!</span></p>
			<p>Souvent on  se les coupes soit même avec le temps on devient des experts. Mais ce n'est pas tous le monde qui se lance dans l'avanture et donc on se met à la recherche d'amis antillais qui saurait faire des coupes ou qui connaitrai des gens qui savent couper. <br> On a tous été chez un coiffeur africain ou un salon francais et le résultat n'a pas été celui escompter. <br>
				<span class="big">Pourquoi?</span><br><span class="big">Parce qqu'ils ne savent pas couper nos cheveux</span>	</p>
				<p>Après cette prise de concsience nous nous somme dit pourquoi ne pas proposer une plateforme afin de réunir les antillais qui viennent d'arrivée en france avec ceux déjà installer et qui savent/chercher quelqu'un qui sait coupeer les cheveux. <br>
					Nous avons donc créer MCF pour répondre à cette problématique.
				</p>
				<p>N'hésitez pas a consulter les coiffeur référencés sur la plateforme et si vous même vous savez coiffer alors inscrivez-vous (inscription gratuite) et présenter votre travail. <br> Finis les coiffures, les contours mal faites!</p>
		</div>
	</div>
	
	<div class="container tsect pt20">
		<h2>Coiffeurs de Paris</h2>
		<div class="troiscol wrap ligne">
			<div class="unecol">
				<div class="carre">

				</div>
				<h3>Pseudo</h3>
			</div>
			<div class="unecol">
				<div class="carre">

				</div>
				<h3>Pseudo</h3>
			</div>
			<div class="unecol">
				<div class="carre">

				</div>
				<h3>Pseudo</h3>
			</div>
			<div class="unecol">
				<div class="carre">

				</div>
				<h3>Pseudo</h3>
			</div>
			<div class="unecol">
				<div class="carre">

				</div>
				<h3>Pseudo</h3>
			</div>
		</div>
		
	</div>
	
	  	
{% endblock %}