{% extends 'base.html.twig' %}
{% block title %}Coiffeurs{% endblock %} {% block body %}
	<div class="fsect">
		<h1>Coiffeurs Antillais</h1>
		<h2>Mon Coiffeur France</h2>
		<div>
			<p>Trouver votre coiffeur antillais en france, dans ta ville, près de chez toi.</p>
			
		</div>
	</div>
	
	<div class="container csect pt20">
		<h2>Coiffeurs de Paris</h2>
		<div class="troiscol wrap ligne">
			<div class="unecol">
				<div class="carre">

				</div>
				<h3>Pseudo</h3>
			</div>
			<div class="unecol">
				<div class="carre">

				</div>
				<h3>Pseudo</h3>
			</div>
			<div class="unecol">
				<div class="carre">

				</div>
				<h3>Pseudo</h3>
			</div>
			<div class="unecol">
				<div class="carre">

				</div>
				<h3>Pseudo</h3>
			</div>
			<div class="unecol">
				<div class="carre">

				</div>
				<h3>Pseudo</h3>
			</div>
		</div>
		
	</div>
	
	  	
{% endblock %}