{% extends 'base.html.twig' %}
{% block title %}Contacts{% endblock %} {% block body %}
	<div class="container sect80 center pt80">
		<h1>Contactez MCF</h1><br><br><br><br>
		<div>
			<p>Bonjour!<br>

				<br>
				Une question? Une suggestion à nous faire? N'hésitez pas et utilisisé le formulaire si dessous pour nous contactés. <br><br></p>
		</div>
		{% include 'public/form.html.twig' %}
	</div>
	<div class="container sect80 center">
		<h2>FAQs</h2>
		<p>Toutes les réponses aux question que vous vous posez!!</p>
	</div>
	
{% endblock %}