{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %} {% block body %}
	<div class="fsect">
		<h1>MCF</h1>
		<h2>Mon Coiffeur France</h2>
		<div>
			<p>Trouver votre coiffeur antillais en france, dans ta ville, près de chez toi.</p>
			
		</div>
	</div>
	<div class="ssect">
		<video autoplay="true" loop muted  {# poster="polina.jpg" #} id="bgvid">
		  	<source src="{{ asset('medias/motards-francais-vs-quotidien-123.mp4') }}" type="video/mp4">
		</video>
	</div>
	<div class="container tsect pt20">
		<h2>Coiffeurs de Paris</h2>
		<div class="troiscol">
			<div class="unecol">
				<div class="carre">
					<img src="https://macoiffeuseafro.com/blog/wp-content/uploads/2020/05/Coiffure-ete-620x420.jpg" width="100%">
				</div>
				<h3>Cindy à domicile</h3>
				<p>Paris, 75006</p>
				<p>52 avis</p>
			</div>
			<div class="unecol">
				<div class="carre">
					<img src="https://macoiffeuseafro.com/blog/wp-content/uploads/2020/05/Coiffure-ete-620x420.jpg" width="100%">
				</div>
				<h3>Cindy à domicile</h3>
				<p>Paris, 75006</p>
				<p>52 avis</p>
			</div>
			<div class="unecol">
				<div class="carre">
					<img src="https://macoiffeuseafro.com/blog/wp-content/uploads/2020/05/Coiffure-ete-620x420.jpg" width="100%">
				</div>
				<h3>Cindy à domicile</h3>
				<p>Paris, 75006</p>
				<p>52 avis</p>
			</div>
		</div>
		<div class="more">
			<p><a href="#!">Afficher plus de coiffeur de votre région</a></p>
		</div>
	</div>
	<div class="container qsect pt20">
		<h2 >Nous rejoindre</h2>
	</div>
	  	
{% endblock %}